body{
    box-sizing: border-box;
    margin: 0;
    /* display: block;
    flex-wrap: wrap; */
}
h1{
    color: darkcyan;
    text-align: center;
    font-size: 50px;
}
.wrap {
    background-color: lightblue;
    /* width: 100%;
    height: 100vh; */
    width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
  }
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
     /*氣泡預設大小*/
    background: rgba(25, 25, 112, 0.5);
     /*給氣泡50%的透明度*/
    animation: animate 25s linear infinite;
     /* animate = 動畫名稱 */
     /* 25s = 動畫時間25秒 */
     /* linear = 動畫開始至結束速度一致 */
     /* infinite = 動畫無限次播放 */
    bottom: -150px;
  }
  .circles2 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
     /*氣泡預設大小*/
    background: rgba(255, 255, 000, 0.5);
     /*給氣泡50%的透明度*/
    animation: animate 25s linear infinite;
     /* animate = 動畫名稱 */
     /* 25s = 動畫時間25秒 */
     /* linear = 動畫開始至結束速度一致 */
     /* infinite = 動畫無限次播放 */
    bottom: -150px;
  }
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 10s;
    animation-duration: 11s;
  }
  .circles2 li:nth-child(2) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 5s;
  }
  
  .circles2 li:nth-child(1) {
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 5s;
    animation-duration: 10s;
  }
  
  .circles2 li:nth-child(10) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 10s;
  }
  
  .circles2 li:nth-child(8) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 8s;
    animation-duration: 18s;
  }
  
  .circles2 li:nth-child(9) {
    left: 68%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
  }
  
  .circles2 li:nth-child(6) {
    left: 82.5%;
    width: 110px;
    height: 110px;
    animation-delay: 9.5s;
  }
  
  .circles2 li:nth-child(7) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 4.5s;
  }
  
  .circles2 li:nth-child(5) {
    left: 58%;
    width: 25px;
    height: 25px;
    animation-delay: 10s;
    animation-duration: 45s;
  }
  
  .circles2 li:nth-child(9) {
    left: 15%;
    width: 15px;
    height: 15px;
    animation-delay: 12s;
    animation-duration: 35s;
  }
  
  .circles2 li:nth-child(3) {
    left: 95%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
    animation-duration: 11s;
  }
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      /* translateY = Y軸位置 */
      /* rotate = 旋轉角度 */
      opacity: 1;
      /* 透明度的參數可設定0.0(透明) ~ 1.0  (不透明) */
      border-radius: 0;
      /* 圓角 */
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      /* 氣泡由下往上移動至-1000px，旋轉720度 */
      opacity: 0;
      border-radius: 50%;
      /* 產生圓角 */
    }
  }

nav{
  display: flex;
  width: 90%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px auto;
}
.divleft{
  flex-basis:40% ;
  flex-direction: column;
  margin-left: 100px;
}
.divright{
  flex-basis:40% ;
  flex-direction: column;
  margin-right: 100px;
}
.header{
  width: 100%;
  height: 150px;
  justify-content: center;
  align-content: center;
  /* background-color: lightcoral; */
  text-align: center;
}
.introduction{
  width: 50%;
  height: 50px;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightgreen;
  margin: 50px auto;
  transform:rotate(10deg);
  border-radius: 30% 30%;
}
.experience{
  width: 50%;
  height: 50px;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightcyan;
  margin: 50px auto;
  transform:rotate(10deg);
  border-radius: 30% 30%;
}
.frontend{
  width: 50%;
  height: 50px;
  float: right;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightgray;
  margin: 50px auto;
  transform:rotate(-10deg);
  border-radius: 30% 30%;
}
.forphp{
  width: 50%;
  height: 50px;
  float: right;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightseagreen;
  margin: 50px auto;
  transform:rotate(-10deg);
  border-radius: 30% 30%;
}
.forsql{
  width: 50%;
  height: 50px;
  float: right;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightgoldenrodyellow;
  margin: 50px auto;
  transform:rotate(-10deg);
  border-radius: 30% 30%;
}
.webortfolio{
  width: 50%;
  height: 50px;
  float: right;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightsteelblue;
  margin: 50px auto;
  transform:rotate(-10deg);
  border-radius: 30% 30%;
}
.psportfolio{
  width: 50%;
  height: 50px;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightpink;
  margin: 50px auto;
  transform:rotate(10deg);
  border-radius: 30% 30%;
}
.aiportfolio{
  width: 50%;
  height: 50px;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 170%;
  background-color: lightsalmon;
  margin: 50px auto;
  transform:rotate(10deg);
  border-radius: 30% 30%;
}
.centerpic{
  flex-basis: 10%;
  height: 300px;
  /* background-color: blue; */
  margin: -10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.centerpic img{
  margin: auto;
}
.introduction:hover,.experience:hover,.frontend:hover,.forphp:hover,.forsql:hover,.webortfolio:hover,.psportfolio:hover,.aiportfolio:hover{
  background-color: black;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
a:visited{
  color:RED;
}
a:hover{
  color: white;
}
.frame{
  display: flex;
  justify-content: center;
}
iframe{
  width: 98vw;
  height: 45vh;
}